<div class="tricks" qu-layout="row" qu-layout-align="center start">
	<div class="tricks-container qu-whiteframe-6" qu-flex qu-flex.gt-md="70" qu-layout="row">
		<div qu-flex="30" qu-flex.md>
			<qu-button *ngFor="let flipTrick of flipTricks; let i = index" class="tricks-item" qu-layout="row" qu-layout-align="start center"
				qu-flex [ngClass]="{'active': i == activeIndex}" (click)="viewTrick(i, flipTrick)">
				<div class="tricks-item-icon">
						<div class="tricks-item-points" *ngIf="i % 2 == 0">{{ flipTrick.points }}</div>
						<div class="tricks-item-points" *ngIf="i % 2 > 0" [ngClass]="{checked: i % 2 > 0}"> 
							<i class="material-icons">check</i>
						</div>
				</div>
				<div class="tricks-item-details">
					<div class="tricks-item-heading">
						{{ flipTrick.displayName }}
					</div>
					<div class="tricks-item-body">
						<span class="tricks-item-name">{{ flipTrick.name }}</span> 
					</div>
				</div>
				<div class="tricks-item-nav"><i class="material-icons">chevron_right</i></div>
			</qu-button>
		</div>

		<div qu-flex class="trick-view">
			<div qu-layout-align="start center" [hidden]="activeTrick">
				<h3>Select a trick</h3>
			</div>
			<div [hidden]="!activeTrick">
				<iframe class="trick-view-url" [src]="trickUrl" frameborder="0" allowfullscreen *ngIf="activeTrick"></iframe>
				<div qu-flex>
				<h3 qu-layout="row" qu-layout-align="start center">
						{{ activeTrick?.displayName }}
						<span qu-flex></span>
						<qu-button class="trick-status-stop qu-raised" [hidden]="activeTrick?.status != 'InProgress'">
							<i class="material-icons">stop</i>
							Stop
						</qu-button>
						<qu-button class="trick-status-start qu-raised" [hidden]="activeTrick?.status == 'InProgress' || activeTrick?.status == 'Completed'">
							<i class="material-icons">play_arrow</i>
							Learn
						</qu-button>
						<qu-button class="trick-status-inprogress qu-raised" [hidden]="activeTrick?.status != 'InProgress'">
							<i class="material-icons">sync</i>
							Learning
						</qu-button>
						<qu-button class="trick-status-completed qu-raised" [hidden]="activeTrick?.status != 'Completed'">
							<i class="material-icons">check</i>				
							Learned
						</qu-button>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>