.profile-view {
	padding: 16px;

	&-bg {
		height: 300px;

    background-color: rgba(0, 0, 0, 0.26);

		&-add-img {
			font-size: 40px;
		}
	}

	&-avatar-add-img,
	&-avatar {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		border: 4px solid white;
		position: absolute;
    top: 325px;
    left: calc(50% - 50px);
	}

	&-heading {
		padding: 16px;

		&.name {
			font-size: 30px;
		}
	}
}