$sl-gray-dark: #616161 !default;
$sl-secondary: #1976D0 !default;

.side-nav {
	
	&-profile {
		height: 100px;
		color: $sl-gray-dark;

		h3 {
			text-align: center;
			font-weight: 100;
		}
	}

	.qu-link-container {
		margin: 0;
	}

	.qu-link {
		width: 100%;
		border-radius: 0;
		background-color: whitesmoke;
		color: $sl-secondary;

		&:before {			
			background-color: rgba(33, 33, 33, .098) !important;
		}
		
		&:hover {			
			background-color: rgba(66, 66, 66, .098) !important;
		}


		> span {
			justify-content: flex-start;
		}
	}
}