mobile/SkaterLeague/npm-debug.log
mobile/SkaterLeague/.DS_Store

mobile/SkaterLeague/app/**/*.js
mobile/SkaterLeague/hooks/
mobile/SkaterLeague/lib/
mobile/SkaterLeague/node_modules/
mobile/SkaterLeague/platforms/
mobile/SkaterLeague/tmp/
mobile/SkaterLeague/typings/

server/node_modules
server/npm-debug.log

web/node_modules
web/npm-debug.log

.idea

