mobile/npm-debug.log
mobile/.DS_Store

mobile/app/**/*.js
mobile/hooks/
mobile/lib/
mobile/node_modules/
mobile/platforms/
mobile/tmp/
mobile/typings/

server/node_modules
server/npm-debug.log

web/node_modules
web/npm-debug.log

.idea

