$qu-primary-primary-bg: white !default;
$qu-primary-primary-color: black !default;

.qu-button-container {
	display: inline-block;
	margin-bottom: 5px;

	button {
		font-size: 13.3333px;
		
		cursor: pointer;
		position: relative;

		display: block;
		margin: auto;
		padding: 0;

		overflow: hidden;

		border-width: 0;
		outline: none;
		border-radius: 2px;
				
		background-color: white;
		color: black;
	}

	button > * {
		position: relative;
	}

	button span {
		display: block;
		padding: 12px 24px;
	}

	/* Styles, not important */
	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.qu-primary > .qu-button-container {
	button {
		background-color: $qu-primary-primary-bg;
		color: $qu-primary-primary-color;		
	}
}

.qu-secondary > .qu-button-container {
	button {
		background-color: $qu-primary-primary-color;
		color: $qu-primary-primary-bg;

		border: 1px solid $qu-primary-primary-bg;
	}
}

.qu-raised > .qu-button-container {
	button {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	}
}