$qu-primary-btn-bg-color: black !default;
$qu-primary-btn-color: white !default;

.qu-button-container {
	display: inline-block;

	button {
		font-size: 13.3333px;
		
		cursor: pointer;
		position: relative;

		display: block;
		margin: auto;
		padding: 0;

		overflow: hidden;

		border-width: 0;
		outline: none;
		border-radius: 4px;
				
		background-color: white;
		color: black;
	}

	button > * {
		position: relative;
	}

	button > span {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 12px;
	}

	/* Styles, not important */
	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.qu-button {
	width: 100%;
}

.qu-raised > .qu-button-container {
	.qu-button {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	}
}