.qu-input-container {

	* { box-sizing:border-box; }
	
	position:relative; 
	margin-bottom:10px; 
	
	> input {
    font-size: 18px;
    padding: 24px 0.88889em 0.44444em 20px;
    display: block;
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    background: transparent;
	}

	> input:focus { 
		outline:none; 
	}

	/* LABEL ======================================= */
	> label {
    color: #999;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 19px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
	}

	/* active state */
	> input:focus ~ label, > input:valid ~ label 		{
    top: 8px;
    font-size: 12px;
    color: #1976D2;
	}

	> input:active, > input:focus {
		border-color: #1976D2;
	}
}