$sl-primary: #D64541;
$sl-primary-dark: #4F1918;

$sl-secondary-light: #2C3E50;
$sl-secondary: #2C3E50;

$sl-gray: grey;
$sl-gray-dark: #616161;

$qu-primary-bg: $sl-primary;
$qu-primary-color: #ecf0f1;
$qu-primary-btn-bg-color: $sl-secondary;
$qu-primary-btn-color: white;
$qu-side-nav-bg: whitesmoke;
$qu-side-nav-border: whitesmoke;
$qu-side-nav-color: $sl-secondary;