$qu-primary-btn-bg-color: black !default;
$qu-primary-btn-color: white !default;

.qu-link-container {
	a {
		font-size: 13.3333px;
		text-decoration: none;
		
		cursor: pointer;
		position: relative;

		display: inline-block;
		margin: auto;
		padding: 0;

		overflow: hidden;

		border-width: 0;
		outline: none;
		border-radius: 4px;
		
		background-color: transparent;
		color: white;
	}

	a > * {
		position: relative;
	}

	a span {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 12px 24px;
    height: 100%;

		> i {
			margin-right: 8px;
			margin-left: 8px;
		}
	}

	/* Styles, not important */
	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.qu-raised {
	.qu-link {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	}
}