$qu-primary-primary-bg: white !default;
$qu-primary-primary-color: black !default;

.qu-link {

	a {
		font-size: 13.3333px;
		text-decoration: none;
	}

	a {	
		cursor: pointer;
		position: relative;

		display: inline-block;
		margin: auto;
		padding: 0;

		overflow: hidden;

		border-width: 0;
		outline: none;
		border-radius: 2px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
		
		background-color: $qu-primary-primary-bg;
		color: $qu-primary-primary-color;
		
		transition: background-color .3s;
	}

	a:hover, a:focus {
		background-color: $qu-primary-primary-bg;
	}

	a > * {
		position: relative;
	}

	a span {
		display: block;
		padding: 12px 24px;
	}

	/* Styles, not important */
	*, *:before, *:after {
		box-sizing: border-box;
	}
}