$qu-side-nav-bg: white !default;
$qu-side-nav-border:  rgba(0,0,0,0.87) !default;

.qu-side-nav {
	position: fixed;
	z-index: 1;
	width: 240px;
	height: 100%;
	margin-top: 50px;
	
	background-color: $qu-side-nav-bg;
	border-right: 1px solid $qu-side-nav-border;
	
	transition: 0.5s;

	&-open {
		width: 240px;		
	}
	
	&-close {
		width: 0;		
	}
}