<div class="tricks" qu-layout="row" qu-layout-align="center start">
	<div class="tricks-container qu-whiteframe-6" qu-flex qu-flex.gt-md="70" qu-layout="row">
		<div class="tricks-list" qu-flex>
			<qu-button *ngFor="let trick of tricks; let i = index" class="tricks-item" qu-layout="row" qu-layout-align="start center"
				qu-flex [ngClass]="{'active': i == activeIndex}" (click)="viewTrick(i, trick)">
				<div class="tricks-item-icon">
						<div class="tricks-item-points" [ngClass]="{checked: hasTrick(trick.name, 'Completed')}"> 
							<span>{{ trick.points }}</span>
						</div>
				</div>
				<div class="tricks-item-details">
					<div class="tricks-item-heading">
						{{ trick.displayName }}
					</div>
					<div class="tricks-item-body">
						<span class="tricks-item-name">{{ trick.name }}</span> 
					</div>
				</div>
				<div class="tricks-item-nav"><i class="material-icons">chevron_right</i></div>
			</qu-button>
		</div>

		<div qu-flex class="trick-view">
			<div qu-layout-align="start center" [hidden]="activeTrick">
				<h3>Select a trick</h3>
			</div>
			<div [hidden]="!activeTrick">
				<iframe class="trick-view-url" [src]="trickUrl" frameborder="0" allowfullscreen *ngIf="activeTrick"></iframe>
				<div qu-flex>
				<h3 qu-layout="row" qu-layout-align="start center">
						{{ activeTrick?.displayName }}
						<span qu-flex></span>
						<qu-button class="trick-status stop qu-raised" [hidden]="activeTrick?.statusName != 'Started'" (click)="stopUserTrick()">
							<i class="material-icons">stop</i>
						</qu-button>
						<qu-button class="trick-status qu-raised" [ngClass]="{'start': activeTrick?.statusName == 'Started'}" [hidden]="activeTrick?.statusName == 'Started' || activeTrick?.statusName == 'Completed'" (click)="setUserTrick('Started')">
							<i class="material-icons">play_arrow</i>
						</qu-button>
						<qu-button class="trick-status qu-raised" [ngClass]="{'completed': activeTrick?.statusName == 'Completed'}" [hidden]="activeTrick?.statusName == null" (click)="setUserTrick('Completed')">
							<i class="material-icons">check</i>				
						</qu-button>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>