$sl-primary: #D64541 !default;
$sl-primary-dark: #751515 !default;

.header {
    position: fixed;

    width: 100%;
    height: 64px;
		
    background-color: $sl-primary;
    color: $sl-primary-dark;
		
    z-index: 9999;

		> div {
			height: 100%;
		}

		img {
			height: 40px;
			width: 40px;
			margin-right: 8px;
			border-radius: 50%;
		}

		&-brand {			
			a {
				margin-bottom: 0;
				font-weight: 200;
				width: 200px;
			}
			span {
				padding: 0 !important;
				font-size: 30px;
			}
		}

		&-search {

			> i {
				position: relative;
				left: 36px;
				top: 4px;
				color: #2C3E50;
			}

			> input {
				border: none;
				padding: 18px;
				font-size: 24px;
				font-weight: 200;
				padding-left: 40px;

				&:focus {
					outline: none;
				}
			}
		}

		.qu-button-container {
			margin-bottom: 0;
		}

		.qu-button {
			height: 64px;
		}

		.qu-link {
			height: 68px;
		}

		.qu-button, .qu-link {
			background-color: $sl-primary;
			color: $sl-primary-dark;
			border-radius: 0;

			i {
				font-size: 40px;
			}
		}
}