$qu-primary-primary-bg: #f44336;
$qu-primary-primary-color: #ecf0f1;

.app {
	height: calc(100% - 50px);
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

.app > * > * {
	height: 100%;
}

@import '../../quSquared/quSquared';

@import '../header/header';
@import '../home/home';
@import '../profile/profile-create/profile-create';
@import '../profile/profile-edit/profile-edit';
@import '../profile/profile-view/profile-view';
@import '../side-nav/side-nav';
@import '../sign-in/sign-in';
@import '../sign-up/sign-up';
@import '../splash/splash';