$sl-primary: #f44336;
$sl-primary-dark: #C62828;
$sl-primary-darker: #B71C1C;

$sl-secondary: #1976D2;

$qu-primary-bg: $sl-primary;
$qu-primary-color: #ecf0f1;
$qu-primary-btn-bg-color: $sl-secondary;
$qu-primary-btn-color: white;
$qu-side-nav-bg: $sl-primary-dark;
$qu-side-nav-border: $qu-side-nav-bg;

.app {
	height: calc(100% - 50px);
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

.app > * > * {
	height: 100%;
}

@import '../../quSquared/quSquared';

@import '../header/header';
@import '../home/home';
@import '../profile/profile-create/profile-create';
@import '../profile/profile-edit/profile-edit';
@import '../profile/profile-view/profile-view';
@import '../side-nav/side-nav';
@import '../sign-in/sign-in';
@import '../sign-up/sign-up';
@import '../splash/splash';