@import '../../../common/scss/styles';

html, body {	
  font-family: Arial, Helvetica, sans-serif;
}

.app {
	height: calc(100vh - 64px);
  padding-top: 64px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

.app > * > * {
	min-height: calc(100% - 32px);
}

@import '../../quSquared/quSquared';

@import '../header/header';
@import '../home/home';
@import '../profile/profile-create/profile-create';
@import '../profile/profile-edit/profile-edit';
@import '../profile/profile-view/profile-view';
@import '../side-nav/side-nav';
@import '../sign-in/sign-in';
@import '../sign-up/sign-up';
@import '../splash/splash';