$sl-primary: black !default;
$sl-secondary: #1976D2 !default;

.tricks {
	padding: 16px;

	&-container {
		max-width: 851px !important;

		> div {
    	min-width: 300px;
		}
	}

	&-list {
		max-width: 320px !important;
	}

	h3 {
		margin: 16px;	
	}

	&-item {
		cursor: pointer;
		padding: 0;		
    background-color: #f5f5f5;
		border-bottom: 1px solid rgba(136, 136, 136, 0.64);
		border-right: 1px solid rgba(136, 136, 136, 0.64);

		> .qu-button-container {
			width: 100%;

			.qu-button {
    		background-color: white;

				> span {
					padding: 12px;
				}
			}							
		}

		&.active {
			.qu-button {
				background-color: rgba(183, 183, 183, 0.64);
				border-radius: 0;				
			}
		}

		&-details {
			text-align: left;
			width: 100%;
		}
		
		&-heading {
			font-size: 16px;
			font-weight: 500;
		}

		&-name {
			color: #6d6d6d;
		}

		&-icon {
			height: 40px;
			width: 60px;			
		}

		&-points {			    
    	font-size: 24px;			
			text-align: center;
			background: white;
			color: #2C3E50;
			
			height: 40px;
			width: 40px;
			padding-top: 4px;
			border-radius: 50%;
			border: 2px solid #2C3E50;

			&.checked {
				border-color: #91cf1e;
				color: #91cf1e;
				padding-top: 6px;
			}
		}
		
		&-nav {
			height: 100%;		
			background-color: transparent;
		}
	}
}
