<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>   <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<html lang="en" class="flexbox">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <!--<link rel="icon" type="image/x-icon" href="../app/img/favicon.ico"/>-->
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body ng-app="globalhackApp">
    <gh-header></gh-header>
    <div class="page" layout="row" layout-fill>
        <gh-sidenav></gh-sidenav>
        <div ui-view flex="noshrink" ng-model-options="{allowInvalid: true}"></div>
    </div>

</body>
</html>